<template>
  <div id="add-user">
    <nav-header></nav-header>
    <!-- <router-link
      :to="{ name: 'allUsers' }"
      class="btn btn-primary"
    >
      Back
    </router-link> -->
    <h1>Add User</h1>
      <form>
         <div class="form-group">
            <label>Email address</label>
            <input
            type="text"
            name="email"
            v-model="input.email"
            placeholder="Email"
            class="form-control form-control-lg"
            />
         </div>
        <button type="button" class="btn btn-dark btn-lg btn-block" v-on:click="add_user()">Submit</button>
      </form>

    <!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
      <router-link to="/" class="navbar-brand">bezKoder</router-link>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link to="/tutorials" class="nav-link">Tutorials</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/add" class="nav-link">Add</router-link>
        </li>
      </div>
    </nav> -->

    <div class="container mt-3">
      <router-view />
    </div>
  </div>
</template>

<script>
import Header from './Header.vue'
export default {
  name: 'Login',
  data () {
    return {
      input: {
        username: '',
        password: ''
      }
    }
  },
  components: {
    'nav-header': Header
  },
  mounted () {
    let authenticated = localStorage.getItem('authenticated')
    let role = localStorage.getItem('role')
    if (!authenticated || role !== 'admin') {
      this.$router.replace({ name: 'login' })
    }
  },
  methods: {
    add_user () {
      if (this.input.email !== '') {
        this.$alert('Invited Successfully')
        this.$router.push({ name: 'allUsers' })
        // this.axios
        //   .post('http://localhost:8000/api/products', this.product)
        //   .then(response => (
        //     this.$router.push({ name: 'home' })
        //   ))
        //   .catch(err => console.log(err))
        //   .finally(() => { this.loading = false })
      } else {
        console.log('A username and password must be present')
      }
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    * {
    box-sizing: border-box;
    }

    body {
    background: #2554FF !important;
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    }

    body,
    html,
    .App,
    .vue-tempalte,
    .vertical-center {
    width: 100%;
    height: 100%;
    }

    .navbar-light {
    background-color: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    }

    .vertical-center {
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    }

    .inner-block {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
    }

    .vertical-center .form-control:focus {
    border-color: #2554FF;
    box-shadow: none;
    }

    .vertical-center h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
    }

    label {
    font-weight: 500;
    }

    div#add-user {
        width: 50%;
        left: 30%;
        margin-left: 20%;
        margin-top: 0;
        margin-bottom: 70px;
    }
</style>
