<template>
  <div>
    <nav-header></nav-header>
    <h2 class="text-center">Users List</h2>
    <!-- <router-link
      :to="{ name: 'addUser' }"
      class="btn btn-primary"
    >
      Add User
    </router-link> -->
    <table class="table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Profile Pic</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in users" :key="user.id">
          <td>{{ user.user_name }}</td>
          <td>{{ user.email }}</td>
          <td><img class="media-object" :src="user.admin_pic_url" alt=""></td>
          <td v-if="user.signup_status === '0'">Pending</td>
          <td v-else>Registered</td>
          <td>
            <div class="btn-group" role="group">
              <!-- <router-link
                :to="{ name: 'edit', params: { id: user.id } }"
                class="btn btn-success"
                >Edit</router-link
              > -->
              <button class="btn btn-danger" @click="deleteUser(user.id)">
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import Header from './Header.vue'
export default {
  data () {
    return {
      // authenticated: false,
      users: []
    }
  },
  created () {
    this.axios
      .get('http://127.0.0.1:8000/api/list')
      .then((response) => {
        console.log(response)
        this.users = response.data.data
      })
  },
  mounted () {
    let authenticated = localStorage.getItem('authenticated')
    let role = localStorage.getItem('role')
    if (!authenticated || role !== 'admin') {
      this.$router.replace({ name: 'login' })
    }
  },
  components: {
    'nav-header': Header
  },
  methods: {
    deleteUser (id) {
      this.$confirm('Are you sure want to delete?').then(() => {
        this.axios
          .delete(`http://127.0.0.1:8000/api/delete/${id}`)
          .then((response) => {
            let i = this.users.map((data) => data.id).indexOf(id)
            this.users.splice(i, 1)
          })
      })
    },
    addUser () {
      console.log('not done error:33345')
    }
  }
}
</script>
<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
</style>
