<template>
    <div id="signup">
        <button class="nav-link btn btn-primary" @click="logout()" >Logout</button>
        <!-- <router-view @authenticated="setAuthenticated" /> -->
        <img v-if="photoLink" class="media-object" :src="photoLink" alt="" width="64" height="64">
        <p>Welcome</p>
        <input type="file" refs="fileupload" @change="onFileChanged">
        <button @click="onUpload" v-bind:class="{ disabled: !image }">
        Upload
        </button>
    </div>
</template>
<script>
export default {
  data () {
    return {
      selectedFile: null,
      photoLink: 'https://image.shutterstock.com/image-photo/micro-peacock-feather-hd-imagebest-600w-1127238599.jpg'
    }
  },
  created () {
    let userId = localStorage.getItem('user_id')
    this.axios
      .get(`http://127.0.0.1:8000/api/user/info/${userId}`)
      .then((response) => {
        console.log(response)
        this.photoLink = response.data.user_pic_url
      })
  },
  mounted () {
    let authenticated = localStorage.getItem('authenticated')
    let role = localStorage.getItem('role')
    if (!authenticated || role !== 'user') {
      this.$router.replace({ name: 'login' })
    }
  },
  methods: {
    onFileChanged (event) {
      this.selectedFile = event.target.files[0]
    },
    onUpload () {
      const formData = new FormData()
      formData.append('image', this.selectedFile)
      let userId = localStorage.getItem('user_id')
      this.axios.post(`http://127.0.0.1:8000/api/upload/image/${userId}`, formData)
        .then((res) => {
          this.$alert('Uploaded Successfully')
          this.photoLink = res.data.userImageUrl
          this.$refs.fileupload.value = null
        })
    },
    logout () {
      localStorage.setItem('authenticated', false)
      localStorage.setItem('role', '')
      localStorage.setItem('user_id', '')
      localStorage.setItem('user_token', '')
      this.$router.push({ name: 'login' })
    }
  }
}
</script>
<style scoped>
button.nav-link.btn.btn-primary {
    right: 5%;
    position: fixed;
    top: 10%;
}
</style>
