<template>
  <div id="header">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <router-link to="/home" class="navbar-brand">Home</router-link>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link to="/home" @click.native.prevent="invite_user" class="nav-link">Add User</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/login" @click.native.prevent="logout" class="nav-link">Logout</router-link>
        </li>
      </div>
    </nav>

    <div class="container mt-3">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Header',
  data () {
    return {
      input: {
        username: '',
        password: ''
      }
    }
  },
  mounted () {
    let authenticated = localStorage.getItem('authenticated')
    let role = localStorage.getItem('role')
    if (!authenticated || role !== 'admin') {
      this.$router.replace({ name: 'login' })
    }
  },
  methods: {
    login () {
      if (this.input.username !== '' && this.input.password !== '') {
        console.log('Run Api here')
      } else {
        console.log('A username and password must be present')
      }
    },
    invite_user: function (e) {
      e.preventDefault()
      this.$prompt('Enter email address').then((text) => {
        console.log(text)
        this.axios
          .post('http://127.0.0.1:8000/api/inviteUser', {'email': text})
          .then((response) => {
            console.log(response)
            if (response.data.status === 'true') {
              // this.users = response.data.data
              this.$router.push({ name: 'allUsers' })
              this.$alert('Invited Successfully')
              window.location.reload()
            } else {
              this.$alert('Invalid Email')
            }
          })
        // this.$alert('Invited Successfully')
      })
    },
    logout () {
      localStorage.setItem('authenticated', false)
      localStorage.setItem('role', '')
      localStorage.setItem('user_id', '')
      localStorage.setItem('user_token', '')
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    * {
    box-sizing: border-box;
    }

    body {
    background: #2554FF !important;
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    }

    body,
    html,
    .App,
    .vue-tempalte,
    .vertical-center {
    width: 100%;
    height: 100%;
    }

    .navbar-light {
    background-color: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    }

    .vertical-center {
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    }

    .inner-block {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
    }

    .vertical-center .form-control:focus {
    border-color: #2554FF;
    box-shadow: none;
    }

    .vertical-center h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
    }

    label {
    font-weight: 500;
    }

    .forgot-password,
    .forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7a7a7a;
    margin: 0;
    }

    .forgot-password a {
    color: #2554FF;
    }

    .social-icons {
    text-align: center;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 1.5em;
    color: #222222;
    }

    .social-icons ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    .social-icons ul li {
    display: inline-block;
    zoom: 1;
    width: 65px;
    vertical-align: middle;
    border: 1px solid #e3e8f9;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    margin-right: 5px;
    background: #f4f6ff;
    }

    .social-icons ul li a {
    display: block;
    font-size: 1.4em;
    margin: 0 5px;
    text-decoration: none;
    }
    .social-icons ul li a i {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    }

    .social-icons ul li a:focus i,
    .social-icons ul li a:active i {
    transition: none;
    color: #222222;
    }

    div#header {
        margin-top: 0;
    }
</style>
