<template>
  <div id="login">
    <h1>Login</h1>
      <form>
        <span id="err-msg">{{ errMsg }}</span>
         <div class="form-group">
            <label>Email address</label>
            <input
            type="text"
            name="email"
            v-model="input.email"
            placeholder="Email"
            class="form-control form-control-lg"
            />
         </div>
         <div class="form-group">
            <label>Password</label>
            <input
            type="password"
            name="password"
            v-model="input.password"
            placeholder="Password"
            class="form-control form-control-lg"
            />
         </div>
        <button type="button" class="btn btn-dark btn-lg btn-block" v-on:click="login()">Login</button>
      </form>

    <!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
      <router-link to="/" class="navbar-brand">bezKoder</router-link>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link to="/tutorials" class="nav-link">Tutorials</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/add" class="nav-link">Add</router-link>
        </li>
      </div>
    </nav> -->

    <div class="container mt-3">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      errMsg: '',
      input: {
        username: '',
        password: ''
      }
    }
  },
  methods: {
    login () {
      if (this.input.email !== '' && this.input.password !== '') {
        this.axios
          .post(`http://127.0.0.1:8000/api/login`, this.input)
          .then((res) => {
            if (res.data.status === 'true') {
              // window.authenticated = true
              localStorage.setItem('authenticated', true)
              localStorage.setItem('role', res.data.role)
              localStorage.setItem('user_id', res.data.user_id)
              localStorage.setItem('user_token', res.data.user_token)
              // this.$emit('authenticated', true)
              // this.$emit('user_id', res.data.user_id)
              // this.$emit('user_token', res.data.user_token)
              // this.$emit('role', res.data.role)
              if (res.data.role === 'admin') {
                this.$router.push({ name: 'allUsers' })
              } else {
                this.$router.push({ name: 'dashboard' })
              }
            } else {
              // this.errMsg = 'Invalid Email or Password'
              this.input.email = ''
              this.input.password = ''
              this.errMsg = ''
              this.$alert('Invalid Email or Password')
            }
          })
      } else {
        console.log('A email and password must be present')
        this.errMsg = 'Both the fields are required'
      }
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    * {
    box-sizing: border-box;
    }

    body {
    background: #2554FF !important;
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    }

    body,
    html,
    .App,
    .vue-tempalte,
    .vertical-center {
    width: 100%;
    height: 100%;
    }

    #err-msg {
      color: crimson;
    }

    .navbar-light {
    background-color: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    }

    .vertical-center {
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    }

    .inner-block {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
    }

    .vertical-center .form-control:focus {
    border-color: #2554FF;
    box-shadow: none;
    }

    .vertical-center h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
    }

    label {
    font-weight: 500;
    }

    .forgot-password,
    .forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7a7a7a;
    margin: 0;
    }

    .forgot-password a {
    color: #2554FF;
    }

    .social-icons {
    text-align: center;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 1.5em;
    color: #222222;
    }

    .social-icons ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    .social-icons ul li {
    display: inline-block;
    zoom: 1;
    width: 65px;
    vertical-align: middle;
    border: 1px solid #e3e8f9;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    margin-right: 5px;
    background: #f4f6ff;
    }

    .social-icons ul li a {
    display: block;
    font-size: 1.4em;
    margin: 0 5px;
    text-decoration: none;
    }
    .social-icons ul li a i {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    }

    .social-icons ul li a:focus i,
    .social-icons ul li a:active i {
    transition: none;
    color: #222222;
    }

    div#login {
        width: 50%;
        left: 30%;
        margin-left: 20%;
        margin-top: 5%;
    }
</style>
