<template>
    <div id="signup">
      <div v-if="correct_id">
        <h3 class="text-center">Register Here</h3>
        <div class="row">
          <span>{{ msg }}</span>
            <div class="col-md-6">
                <form @submit.prevent="updateUser">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" readonly v-model="user.email">
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" v-model="user.user_name">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" v-model="user.password">
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
      </div>
      <div v-else>
        <div id="err-div">
          Invalid URL
        </div>
      </div>
    </div>
</template>
<script>
export default {
  data () {
    return {
      user: {},
      msg: '',
      correct_id: false
    }
  },
  created () {
    this.axios
      .get(`http://127.0.0.1:8000/api/user/info/${this.$route.params.id}`)
      .then((res) => {
        // let result = res.data
        console.log(res.data)
        if (res.data.status === 'true') {
          console.log('in if')
          this.user = res.data
          this.correct_id = true
        } else {
          this.correct_id = false
        }
      })
  },
  methods: {
    updateUser () {
      console.log(this.user)
      this.axios
        .post(`http://127.0.0.1:8000/api/signUp/`, this.user)
        .then((res) => {
          this.$router.push({ name: 'login' })
        })
    }
  }
}
</script>
<style scoped>
div#err-div {
    color: crimson;
    padding: 5px;
    background: #d88383;
    width: 50%;
    margin-left: 20%;
    /* border: 1px solid; */
    margin-top: 0px;
}
div.row {
    margin-left: 32%;
}
</style>
